.venv
scraper/.venv
*__pycache__*

# ignore vscode directory
.vscode
.DS_Store

# ignore pyc files
*.pyc
src/*.pyc
# ignore .env file
.env
# ignore dev files
./src/queue.py
main_dev.py
# ignore pyenv python version file
.python-version