*.venv*
*__pycache__*

# remote state only needs to run once
remote-state

# ignore vscode directory
.vscode
.DS_Store

# ignore .env file
.env
# ignore dev files
# ignore pyenv python version file
.python-version